.formControl.error textarea,
.formControl.error input {
  border: 1px solid red;
}
.formControl.error span {
  color: red;
}
.formSummaryError {
  border: 1px solid rgb(255, 143, 143);
  padding: 5px;
  color: rgb(255, 143, 143);
}
